* {
    margin: 0;
    padding: 0;
    font-family: 'Macondo', 'cursive';
}

.top-container {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.top-container h1 {
    font-size: 10vh;
    font-family: 'Caveat', 'cursive';
    color: darkcyan;
}

.top-container h2 {
    font-size: 4vh;
    color: darkcyan;
}

.top-container span {
    text-decoration: underline;
}

.top-container img {
    border: none;
    border-radius: 50%;
    height: 20%;
}

.top-container h3 {
    color: darkmagenta;
    font-size: 5vh;
    position: relative;
    bottom: 3%;
}

.top-container p {
    font-size: 2vh;
    width: 40%;
}

.mid-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mid-container h2 {
    font-size: 4vh;
    color: darkcyan;
}

.skill1, .skill2 {
    width: 50%;
}

.skill1 img, .skill2 img {
    width: 40%;
    float: left;
    margin-right: 20px;
}

.skill1 p, .skill2 p {
    font-size: 2vh;
}

.bottom-container {
    height: 80vh;
    width: 100%;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    align-items: center;
}

.bottom-container h2 {
    font-size: 4vh;
    color: darkcyan;
}

.bottom-container h3 {
    font-size: 3vh;
    color: darkmagenta;
    text-align: center;
}

.bottom-container p {
    width: 50%;
    font-size: 2vh;
    text-align: center;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 8px 15px;
    font-size: 3vh;
    border: none;
    border-radius: 10px;
}


.footer {
    height: 20vh;
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.copyright {
    font-family: 'Times New Roman', Times, serif;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 40%;
}

@media (max-width: 990px) {
    .skill1 img, .skill2 img {
        width: 80%;
    }

    .skill1 p, .skill2 p, .skill1 h3, .skill2 h3 {
        clear: both;
    }
}

@media (max-width: 576px) {
    .top-container p {
        width: 60%;
    }

    .skill1 p, .skill2 p {
        font-size: 1.5vh;
        text-align: justify;
    }

    .social-links {
        gap: 10%;
    }

    .bottom-container h3 {
        font-size: 2.5vh;
    }

    .btn {
        font-size: 2.5vh;
    }
}

@media (max-width: 350px) {
    .social-links {
        gap: 5%;
    }
}
